@import '../common/styles/base';

.a-page {
    height: $page-height;
    min-height: $page-min-height;

    background-color: $page-bg;

    font-family: $font-primary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &__container {
        display: flex;
    }
}
