@import '../common/styles/base';

.a-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $checkbox-size;
    height: $checkbox-size;

    transition: all $common-transition;

    color: transparent;
    border: $checkbox-border-size solid $checkbox-border-color;
    border-radius: $checkbox-border-radius;

    font-size: $checkbox-text-size;

    &_selected {
        color: $checkbox-selected-color;
        border-color: $checkbox-selected-border-color;
        background-color: $checkbox-selected-bg;
    }
}
