@import '../common/styles/base';

.a-content {
    display: flex;
    flex-direction: column;

    margin: 0 $column-center-horizontal-margin;
    width: $content-width-md;
    min-height: $content-min-height;

    @media (min-width: $screen-lg-min) {
        width: $content-width-lg;
    }

    @media (min-width: $screen-xlg-min) {
        width: $content-width-xlg;
    }
}
