@import '../common/styles/base';

.a-sidebar-right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: $sidebar-right-width-md;
    min-height: 100%;

    background-color: $sidebar-right-bg;

    @media (min-width: $screen-xlg-min) {
        width: $sidebar-right-width-xlg;
    }
}
